*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #D9D9D9;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 15%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 32px 16px;
    font-size: 24px;}

.analistas-imagem{
    width: 20%;
}
.texto{
    background-image: linear-gradient(#D9D9D9,black);
    display: flex;
    justify-content: center;
    padding: 36px 0;
}
.texto-div-conteudo{
    width: 40%;
    justify-content: center;
}
.apresentacao{
    padding: 24px 0;
}